p{
    color:rgb(99, 99, 107);
    font-weight: 100;
    font-family: poppins;
    font-size: 22px;
    width: 450px;
}

body{
margin: 0;
}

html{
    scroll-behavior: smooth;
}

@media only screen and (max-width: 1080px){
    html{
        width: 140%;
    }
}