<!DOCTYPE html>
<html>
    <head>
        <title>Prath</title>
        <link rel="icon" href="bugicons/P3.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">


        <link rel="stylesheet" href="mains.css">
        <link rel="stylesheet" href="footer.css">
        <link rel="stylesheet" href="team.css">
        <link rel="stylesheet" href="general.css">
        <link rel="stylesheet" href="page3.css">
        <link rel="stylesheet" href="page2.css">
        <link rel="stylesheet" href="page4.css">
        <link rel="stylesheet" href="contact.css">



        <script src=
        "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
            </script>
            
            <script>     
                $.getJSON("https://api.ipify.org?format=json", function(data) {
                
                    // Setting text of element P with id gfg
                    $("#ip").html(data.ip);
                })
            </script>
    </head>
    
    
    <body>
        <div class="header">
            <div class="left-section">  
                <div>
                   <a href="#top"> <img class="bs-logo" src="bugicons/P.png"> </a>
                </div>
            </div>




            <div class="middle-section">
                <a href="#top" style="color:black;"><div class="tabs">Home</div></a>
                <a href="#pg2" style="color:black;"><div class="tabs">About</div></a>
                <a href="#services" style="color:black;"><div class="tabs">Experience</div></a>
                <a href="#services-1" style="color:black;"><div class="tabs">Projects</div></a>
                <a href="#team" style="color:black;"><div class="tabs">Skills</div></a>
            </div>

            <div class="right-section"> 
            </div>
        </div>





            <div class="page1">
                <div class="para">
                    Hi There👋, <br>
                    I’m Prath.
                     <p> Bug Hunter & Cyber Security Researcher
                </p>

                <a style="text-decoration: none;"; href="https://wa.me/+919960946063?text=I%20want%20to%20know%20more%20about%20your%20Services">
            
                </a>
                </div>




                <div class="ip-box">

                    <div class="ip-head">
                        <div class="three-but">
                            <div class="red-c"></div>
                            <div class="yellow-c"></div>
                            <div class="green-c"></div>
                        </div>
                    </div>
                    &nbsp; $<span class="gm"> Good Morning </span>,User.
                    <br>
                    &nbsp; $<span class="gm"> Your IP is</span> &#60;<span class="gm" style="color:white;" id="ip"></span> &#62;.
                    <br>
                    &nbsp; $ Welcome to my portfolio.   
                </div>
            </div>
            




        <div id="pg2">
            <div class="page2">
                <div class="page2text"> About me.<br>
                    <br>
                    <span class="page2shorttext">Experienced Cyber Security Analyst adept at internal audits, enhancing information security, and discovering critical vulnerabilities. Recognized for expertise in pentesting, network security and cyber forensics through internships. Acknowledged by top organizations for safeguarding digital assets. </span>
               </div>
               <div>
                    <img class="aboutus" src="bugicons/banner1.png">
                </div>
            </div>
        </div>

    
        <div id="services">
            <div class="page3">
                <div class="servicestag">Companies I've worked for:</div>
                <div class="banners">
                    <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
                    <div class="history-tl-container">
                      <ul class="tl">
                        <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                              01/2024 -<br> Present
                            </div>
                            <div class="item-title">Scrut Automation</div>
                            <div class="item-detail">Infosec Analyst Intern
                      </div>
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                              12/2021 -<br> Present
                            </div>
                            <div class="item-title">Freelance</div>
                            <div class="item-detail">Bug Bounty Hunting
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                              07/2023 -<br> 12/2023
                            </div>
                            <div class="item-title">Tata Communications</div>
                            <div class="item-detail">SOC Intern
                      </div>
                          </li>
                        <li class="tl-item" ng-repeat="item in retailer_history">
                          <div class="timestamp">
                            06/2022 -<br> 08/2022
                          </div>
                          <div class="item-title">Cyber Security Corporation</div>
                          <div class="item-detail">Cyber Forensics Intern
                    </div>
                        </li>
                        <li class="tl-item" ng-repeat="item in retailer_history">
                          <div class="timestamp">
                            01/2022 -<br> 02/2022
                          </div>
                          <div class="item-title">SAP</div>
                          <div class="item-detail">Cyber Security Virtual Intern
                          </div>
                        </li>
                        <li class="tl-item" ng-repeat="item in retailer_history">
                          <div class="timestamp">
                            08/2021 -<br> 09/2021
                          </div>
                          <div class="item-title">RISL, Government of Rajasthan</div>
                          <div class="item-detail">Cyber Security Intern</div>
                        </li>
                    
                      </ul>
                    
                    </div> 
            
            </div>
        </div>

            <div id="services-1">
                <div class="page4">
                    <div class="servicestag">My work:</div>
                    <div class="banners">
                        <div class="sercap"><img class="ser" src="bugicons/hackathon.png">Projects<br> <span style="color: gray; font-size: 14px;">-Open Source Contribution</span><span style="color: gray; font-size: 14px;">-SWOC 2.0</span><span style="color: gray; font-size: 14px;">-Hacking 4 Community Hackathon</span></div>
                        <a href="https://medium.com/@prathameshbagul"><div class="sercap"><img class="ser" src="bugicons/blogs.png">Blogs<br> <span style="color: gray; font-size: 14px;">-Link to Medium Page</span></div></a>
                        <div class="sercap"><img class="ser" src="bugicons/bugbounty.png">Bug Bounty Hunting<br> <span style="color: gray; font-size: 14px;">- Among top 190 on YesWeHack.</span><span style="color: gray; font-size: 14px;">- Received recognition and awards for securing numerous organisations.</span><span style="color: gray; font-size: 14px;">- Discovered various critical and high severity bugs for various organizations.</span></div>
                        <div class="sercap"><img class="ser" src="bugicons/certificate.svg">Certifications<br><span style="color: gray; font-size: 14px;">- eLearnSecurity Junior Penetration Tester (eJPT).</span> <span style="color: gray; font-size: 14px;">- ISC² Certified in Cybersecurity (CC).</span><span style="color: gray; font-size: 14px;">-Fortinet: NSE 1, NSE 2, NSE 3.</span><span style="color: gray; font-size: 14px;">- CodeRed: EH-Essentials & Network Defence.</span></div>
                    </div>
                </div>
            </div>




        <div id="team">
                <div  class="header3">
                    <p class="founders">Skills</p>
                  
                    <div class="skillss">
                        <button class="but-2">
                            <a>Bug Bounty</a>
                        </button>
                        <button class="but-2">
                            <a>Python Programming</a>
                        </button>
                        <button class="but-2">
                            <a>Cyber Forensics</a>
                        </button>
                        <button class="but-2">
                            <a>Open-Source Intelligence </a>
                        </button>
                        <button class="but-2">
                            <a>Front-End Web Development</a>
                        </button>
                        <button class="but-2">
                            <a>Information Security</a>
                        </button>
                        <button class="but-2">
                            <a>Linux</a>
                        </button>
                    </div>
            </div>
                

              
        </div>



        



            <div class="footer">
                <div class="header3">
                    <p class="founders">Get In Touch<br> <span style="color: gray; font-size: 14px;">My inbox is always open. Whether you have a question or just want to say hi, I’ll try my best to get back to you!</span></p>
                    
                </div>
                <button class="but-1">
                    <a href="mailto: prathameshbagul@gmail.com">Say Hello</a>
                </button>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a href="https://linkedin.com/in/prathameshbagul"><img class="bs-logo-1" src="./bugicons/linkedin.png" alt="LinkedIn"></a>
              <a href="https://twitter.com/prath_10"><img class="bs-logo-1" src="./bugicons/twitter.png" alt="Twitter"></a>
              <a href="https://medium.com/@prathameshbagul"><img class="bs-logo-1" src="./bugicons/medium.png" alt="Medium"></a>
              

    
            </div>
    </body>
</html>

